/.project
/.cproject
/.pydevproject
/.externalToolBuilders
/.settings
.directory
generated*
/temp/
*.o
*.cgi

all_sources.lst
excluding.lst
including.lst

doxygen.tag
/attic
/sysroots
/bitbake-logs
/image
/scripts
/html
 
